* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  background: #03001c;
  color: #fff;
}

main {
  padding: 50px 50px 0 50px;
  color: #fff;
  background: #301e67;
}

main h1 {
  font-size: 50px;
}

main div {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

main address {
  font-size: 20px;
  opacity: 0.8;
}

main time {
  margin-left: 10px;
  opacity: 0.8;
}

main section {
  font-size: 20px;
  margin-top: 30px;
}

main p {
  margin-top: 20px;
}

nav {
  background: #03001c;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: max-content;
}

nav img {
  height: 50px;
  width: 50px;
  border-radius: 100px;
}

nav p {
  font-weight: 600;
  font-size: 24px;
  margin-top: 10px;
}

nav ul {
  margin-top: 50px;
}

nav li {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 10px;
}

nav a {
  color: #fff;
  font-size: 20px;
}

aside {
  color: #fff;
  background: #03001c;
  min-width: 200px;
  padding: 30px;
}

aside article {
  margin-top: 20px;
}

aside div {
  display: flex;
}
